$bgColor: #2d2d2d;
$fgColor: #f0f0f0;
$selectedBgColor: #3d3d3d;
$widgetBg: #2d2d2d;
$border: 2px solid;
$borderRadius: 5px;

* {
    all: unset;
    font-size: 1.2rem;
}

#window {
    background: rgba(0, 0, 0, 0.2);
}

#match, #entry, #plugin, #main {
    background: transparent;
}

#match {
    &.activatable {
        border-radius: 3px;
        margin: 4px 0;
        padding: 4px;
        transition: 100ms ease-out;
    }
    &.activatable:first-child {
        margin-top: 12px;
    }
    &.activatable:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.05);
    }
    &:selected {
        background: rgba(255, 255, 255, 0.1);
    }

    #match-title {
        color: $fgColor;
        font-size: 1.2rem;
        font-weight: bold;
    }
    #match-desc {
        color: $fgColor;
        font-size: 1.0rem;
    }
}

#plugin {
    margin-top: 5px;
}

#entry {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: $borderRadius;
    padding: 4px 8px;
}

box#main {
    background: #212223;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: $borderRadius;
    padding: 12px;
}