@use "sass:color";
@use "./theme.scss" as theme;
@use "./utils.scss" as utils;

window.bar {
  background: transparent;
  color: theme.$text;

  font-weight: bold;
  font-size: 14px;
  // font-family: monospace;

  > centerbox {
    margin: 5px 10px 0px 10px;
  }

  .widgetOuter:not(:last-child) {
    margin-right: 5px;
  }

  .widget {
    background: utils.gtkalpha(theme.$mantle, theme.$backgroundAlpha);
    border-radius: theme.$borderRadius;
    padding: 0 8px;

    icon {
      color: theme.$red;
      &:not(:only-child) {
        margin-right: 10px;
      }
    }
  }

  button {
    all: unset;
    transition: 200ms;

    icon {
      transition: 200ms;
    }

    &:hover {
      color: white;

      icon {
        color: theme.$maroon;
      }
    }
  }

  // Left panel
  .nixosIcon {
    // Puts the icon off-center, but fixes the icon shadow slightly overflowing at the top of the bar
    padding-top: 1px;

    padding: 0 3px;

    color: theme.$text;

    icon {
      color: inherit;
    }

    font-size: 28px;
  }

  .workspaces {
    .focused {
      color: theme.$red;
    }
    label {
      min-width: 10px;
    }
    > button {
      padding: 0 5px;
    }
    > button:hover {
      color: color.adjust(theme.$sapphire, $lightness: 20%);
    }

    font-size: 16px;
    font-weight: normal;
    color: theme.$subtext1;
  }

  .focusedClient {
    font-weight: normal;
    color: theme.$subtext1;
    padding: 0 15px;
  }

  // Center panel
  .media label {
    color: theme.$subtext1;
    padding: 2px 5px 0 5px;
  }

  .time {
    // Puts the text off-center, but fixes the icon shadow slightly overflowing at the top of the bar
    padding-top: 1px;

    margin: 0 12px;
    font-weight: normal;

    .timeLabel {
      color: theme.$text;
      font-size: 13px;
    }
    .dateLabel {
      color: theme.$subtext1;
      font-size: 11px;
    }
  }

  // Right panel
  .systemTray {
    padding: 0;
    > button {
      padding: 0 8px;
      border-radius: theme.$borderRadius;
      &:hover {
        background-color: color.adjust(theme.$mantle, $lightness: 10%);
      }
    }
  }
}
