@use "sass:color";
@use "./theme.scss" as theme;

window.controlsPopup {
  > revealer > box {
    min-width: 500px;
    padding: 10px;
  }

  .section {
    background: theme.$lightBg;
    border-radius: theme.$borderRadius;
    padding: 10px;

    .title {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .notifications {
    scrollable {
      viewport {
        border: 0;
      }
    }

    .empty {
      font-weight: normal;
      color: theme.$mutedText;
    }
  }
}