@use "sass:color";
@use "./theme.scss" as theme;

window.controlsPopup {
  > revealer > box {
    min-width: 500px;
    padding: 10px;
  }

  .section {
    background: theme.$lightBg;
    border-radius: theme.$borderRadius;
    padding: 10px;

    .title {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .notifications {
    scrollable {
      viewport {
        border: 0;
      }
      margin-bottom: 10px;
    }

    .empty {
      font-weight: normal;
      color: theme.$mutedText;
    }

    .notification > box {
      margin: 0 0 10px 0;
      background-color: theme.$lightBg;
    }
  }

  .calendar {
    .monthSelector {
      margin-right: 10px;
    }

    .calendarMonth {
      .calendarHeader {
        label {
          font-size: 18px;
          font-weight: normal;
          padding: 0 5px;
          margin-bottom: 8px;
          // background-color: theme.$lightBg;
          // border-radius: 50px;
        }
      }

      > box {
        // Row
        .calendarDay {
          // Column item
          border-radius: 100%;
          min-width: 40px;
          min-height: 40px;
          font-size: 16px;
          margin: 3px;

          &.today {
            background-color: color.adjust(theme.$accent, $alpha: -0.4);
          }
          &.differentMonth {
            color: color.adjust(theme.$fg, $alpha: -0.5);
          }
        }
      }
    }

    .yearSelector {
      margin: 0 15px 0 -30px;
    }
    .calendarYear {
      all: unset;
      color: theme.$mutedText;
      transition: color 0.2s;
      padding: 10px;
      &:hover {
        color: theme.$fg;
      }
      &.selected {
        color: theme.$accent;
      }
    }

    .calendarControls {
      button {
        margin: 5px;
      }
    }
  }
}