@use "sass:color";
@use "./theme.scss" as theme;

window.mediaControls {
  button {
    all: unset;
    background-color: transparent;

    &:hover label,
    &:hover icon {
      background-color: color.adjust(theme.$text, $alpha: -0.84);
      border-color: color.adjust(theme.$sapphire, $alpha: -0.8);
    }

    &:active label,
    &:active icon {
      background-color: color.adjust(theme.$text, $alpha: -0.8);
    }
  }

  .close icon {
    border-radius: theme.$borderRadius;
    font-size: 20px;
  }

  label, icon {
    transition: 200ms;
    padding: 3px 8px;
  }

  .noMediaPlayers {
    font-size: 1.2em;
    color: theme.$subtext1;
    padding: 0 10px;
  }

  .player {
    margin: 10px;
    padding: 10px 15px 10px 0px;

    border-radius: theme.$borderRadius;
    background: theme.$mantle;
    color: theme.$text;

    font-size: 14px;
    font-weight: bold;

    .cover-art {
      min-width: 120px;
      min-height: 120px;
      border-radius: theme.$borderRadius;
      margin-right: 15px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .title {
      font-weight: bold;
      font-size: 1.1em;
      min-width: 300px;
    }

    .sideIcons {
      font-size: 24px;
      margin-top: 5px;

      icon {
        padding: 7px 12px;
      }
      .quitPlayer.noQuit {
        color: #999;

        &:hover icon {
          background-color: transparent;
        }
      }
    }

    .progress {
      $radius: 7px;

      * {
        all: unset;
      }

      trough {
        background-color: color.adjust(theme.$text, $alpha: -0.8);
        border-radius: $radius;
      }

      highlight {
        background-color: theme.$sapphire;
        min-height: 8px;
        border-radius: $radius;
      }

      slider {
        background-color: theme.$text;
        border-radius: $radius;
        min-height: 10px;
        min-width: 10px;
        margin: -5px;
      }
    }
  }
}
