@use "./theme.scss" as theme;
@use "./utils.scss" as utils;
@use "sass:color";

window.notificationPopups {
  all: unset;
}

eventbox.notification {
  &:first-child > box {
    margin-top: 1rem;
  }

  &:last-child > box {
    margin-bottom: 1rem;
  }

  > box {
    min-width: 400px;
    padding: 5px;
    background-color: utils.gtkalpha(theme.$surface0, theme.$backgroundAlpha);
  }

  &.critical > box {
    .summary, .body {
      color: color.mix(theme.$red, theme.$text, 50%);
    }
    .header {
      color: theme.$red;
    }

    border: 1px solid theme.$red;
  }

  .header {
    padding: 0.5rem;
    color: theme.$subtext1;

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
      background-color: transparent;
      margin-top: -3px; // Makes it look more visually centered
      border: none;

      &:hover {
        background-color: utils.gtkalpha(theme.$crust, 0.2);
        color: theme.$red;
      }
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: utils.gtkalpha(theme.$text, 0.2);
  }

  .content {
    margin: 12px;
    margin-top: 8px;

    .summary {
      font-size: 18px;
      color: theme.$text;
    }

    .body {
      font-size: 13px;
      color: theme.$text;
    }

    .image {
      border-radius: theme.$borderRadius;
      margin-right: 10px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 10px;
    margin-top: 0;

    button {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
