@use "./theme.scss" as theme;
@use "./utils.scss" as utils;
@use "sass:color";

window.notificationPopups {
  all: unset;
}

box.notification {
  background: utils.gtkalpha(theme.$mantle, theme.$backgroundAlpha);
  border-radius: theme.$borderRadius;
  min-width: 400px;
  padding: 5px;
  margin: 10px;

  button {
    all: unset;

    border-radius: theme.$borderRadius;
    background: theme.$mantle;
    transition: background 0.2s;

    padding: 0.2rem 0.5rem;

    &:hover {
      background: color.adjust(theme.$mantle, $lightness: 15%);
    }
  }

  &:first-child {
    margin-top: 1rem;
  }

  &:last-child {
    margin-bottom: 1rem;
  }

  &.critical {
    .summary,
    .body {
      color: color.mix(theme.$red, theme.$text, 50%);
    }
    .header {
      color: theme.$red;
    }

    border: 1px solid theme.$red;
  }

  .header {
    padding: 0 0.5rem;
    color: theme.$subtext1;

    .app-image {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }

    button {
      padding: 0 0.2rem;
      min-width: 0;
      min-height: 0;
      background-color: transparent;
      border: none;

      transition: color 0.2s, background-color 0.2s;
      &:hover {
        background-color: utils.gtkalpha(theme.$crust, 0.2);
        color: theme.$red;
      }
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: utils.gtkalpha(theme.$text, 0.2);
  }

  .content {
    margin: 12px;
    margin-top: 8px;

    .summary {
      font-size: 18px;
      color: theme.$text;
    }

    .body {
      font-size: 13px;
      color: theme.$text;
    }

    .image {
      border-radius: theme.$borderRadius;
      margin-right: 10px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 10px;
    margin-top: 0;

    button {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
