@use "./theme.scss" as theme;
@use "./utils.scss" as utils;
@use "sass:color";

.popup {
  background: transparent;
  color: theme.$fg;
  font-weight: bold;
  font-size: 14px;

  > box, > revealer > box {
    background: theme.$bg;

    border-radius: theme.$borderRadius;
    
    @if theme.$addWidgetBorders {
      border: theme.$borderThickness solid theme.$borderColor;
    }

    margin: 10px;
    padding: 20px;
  }

  icon {
    -gtk-icon-shadow: theme.$iconShadow;
  }
  label {
    text-shadow: theme.$shadow;
  }

  button {
    border: theme.$borderThickness solid theme.$borderColor;
    border-radius: theme.$borderRadius;

    background: theme.$lightBg;

    &:hover {
      background: color.adjust(theme.$lightBg, $lightness: 15%);
    }
  }
}